[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = High-level hmatrix-compatible bindings to NLOPT from Haskell
[access "refs/*"]
	owner = group user/Matt Peddie (peddie)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Matt Peddie (peddie)
	label-Verified = -1..+1 group user/Matt Peddie (peddie)
	push = group user/Matt Peddie (peddie)
	read = group user/Matt Peddie (peddie)
	rebase = group user/Matt Peddie (peddie)
	removeReviewer = group user/Matt Peddie (peddie)
	submit = group user/Matt Peddie (peddie)
[access "refs/heads/*"]
	create = group user/Matt Peddie (peddie)
	push = +force group user/Matt Peddie (peddie)
	pushMerge = group user/Matt Peddie (peddie)
	read = group user/Matt Peddie (peddie)
[access "refs/tags/*"]
	push = group user/Matt Peddie (peddie)
	push = +force group user/Matt Peddie (peddie)
